h1{
    font-size: 36px;
    margin: 15px;
    text-align: center;
}
.dFlexProducts{
    display: flex;
    margin: 25px;
    height: 70vh;
    border: none;
    justify-content: center;
}

.card{
    width: 280px;
    height: 320px;
    background-color: rgb(246, 246, 243);
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 8px 8px 7px black;
}

.card img {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px;
}

.cardButton{
    background-color: rgb(42, 42, 234);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    cursor:pointer
}
.cardButton:hover{
    background-color: rgb(29, 29, 147);
}
.card h3{
    font-size: 16px;
    margin-top: 10px;
}

/*  productID */
.dFlexDetailProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 16px;
}
.dFlexDetailProduct h2{
    margin: 10px;
    font-size: 18px;
}
.textDetails{
    width: 50%;
    text-align: center;
    height: 100%;
    background-color: rgb(245, 247, 247);
    border-radius: 12px 0px  0px 12px;
}
.imgDetail{
    width: 50%;
    height: 100%;
    border-radius: 0px 12px 12px 0px
}

/*Carrito*/
.removeButton{
    background-color: rgb(186, 22, 30);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    cursor:pointer
}
.removeButton:hover{
    background-color: rgb(120, 10, 16);
}
.cart{
    border-style: solid;
    padding: 15px;
    height: 200px;
    border-radius: 26px;
    background-color: rgb(237, 240, 240);
    display: flex;
}
.containerProductCart{
    border-style: solid;
    margin: 10px;
    border-radius: 12px;
    padding: 15px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}
.cart li{
    font-size: 18px;
}
