h1{
    font-size: 36px;
    margin: 15px;
    text-align: center;
}
.dFlexProducts{
    display: flex;
    margin: 25px;
    height: 70vh;
    border: none;
    justify-content: center;
}
.card{
    width: 280px;
    height: 320px;
    background-color: rgb(246, 246, 243);
    margin: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 8px 8px 7px black;
}
.card img {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px;
}
.cardButton{
    background-color: rgb(42, 42, 234);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    cursor:pointer
}
.cardButton:hover{
    background-color: rgb(29, 29, 147);
}
.card h3{
    font-size: 16px;
    margin-top: 10px;
}
.put{
    background-color: rgb(35, 161, 39);
}
.put:hover{
    background-color: rgb(26, 115, 29);
}
.delete{
    background-color: rgb(180, 26, 26);
}
.delete:hover{
    background-color: rgb(131, 21, 21);
}
/*  productID */
.dFlexDetailProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 4px;
}
.dFlexDetailProduct h2{
    margin: 10px;
    font-size: 18px;
}
.textDetails{
    width: 50%;
    text-align: center;
    height: 100%;
    background-color: rgb(245, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgDetail{
    width: 50%;
    height: 100%;
    border-radius: 0px 2px 2px 0px
}

/*Carrito*/
.mainContainer{
    min-height: 75vh;
}
.cartContainer{
    margin: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{
    border-style: solid;
    padding: 15px;
    border-radius: 26px;
    background-color: rgb(237, 240, 240);
    max-width: 1000px;
}
.containerProductCart{
    border-style: solid;
    margin: 10px;
    border-radius: 12px;
    padding: 15px;
    width: 220px;
    background-color: rgb(255, 255, 255);
}
.cart li{
    font-size: 18px;
}
.cart h2{
    padding-top: 20px;
}
.removeButton{
    background-color: rgb(186, 22, 30);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    border: none;
    color: white;
    cursor:pointer;
    position: relative;
    left: 120px;
}
.removeButton:hover{
    background-color: rgb(120, 10, 16);
}


/*Ordenes*/
.containerOrder{
    background-color: aqua;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 15px;
}
.containerOrder li{
    font-size: 16px;
    margin: 3px;
}
.orderProducts{
    border-style: solid;
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
}

/*Producto ID*/

.buttonDiscount{
    padding: 2px;
    border-style: none;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: rgb(221, 3, 3);
    font-weight: bold;
    margin: 5px;
}
.buttonCount{
    padding: 2px;
    border-style: none;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: rgb(15, 155, 15);
    font-weight: bold;
    margin: 5px;
}
.buttonCount:hover{
    background-color: darkgreen;
    box-shadow: 2px 2px 5px 2px;
    cursor: pointer;
}
.buttonDiscount:hover{
    background-color: rgb(124, 20, 20);
    box-shadow: 2px 2px 5px 2px;
    cursor: pointer;
}
#numero-conteo{
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}