:root{

    --hospital-green: #ACD9B2;
    --blue-deep: #394A51;
    --blue--contrast: #7FA99B;
    --clear: #FBF2D5;
    --orange: #FDC57B;

    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;

    --white: #FFFFFF;
    --black: #000;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-image: url(../assets/img/background-head.png);
    background-size: cover;
}
header div img{
    margin-left: 55px;
    height: 70px;
}
nav a{
    font-size: var(--md);
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--clear);
    border-radius: 25px;
    display: inline-block;
    width: 100px;
}
nav a:hover{
    text-decoration: none;
    color: var(--blue--contrast);
    margin: 10px;
}
main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center; 
}
.dFlex{
    display: flex;
}
.flexWrap{
    flex-wrap: wrap;
}
.justifyContentCenter{
    justify-content: center;
}
.justifyContentEnd{
    justify-content: flex-end;
}
.login {
    width: 85%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-container{
    width: 360px;
    border-radius: 15px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 4px 4px 7px black;
}
.form-container h1 {
    text-align: center;
    margin: 15px;
}
.form a{
    font-size: var(--sm);
    color: var(--blue--contrast);
    text-decoration: none;
    text-align: center;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: #e6e5e5;
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 12px;
    width: 100%;
}
.primary-button{
    background-color: var(--blue--contrast);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.primary-button:hover{
    background-color: #486259;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.signup-vh{
    height: 90vh;
}
.signup-button {
    width: 100%;
    height: 50px;
    background-color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    color: var(--blue--contrast);
    border-radius: 8px;
    border: solid 1px;
    border-color: var(--blue--contrast);
    cursor: pointer;
    margin: 0px;
}
.signup-button:hover{
    background-color: #8e9c97;
    color: white;
}
footer{
    background-image: url(../assets/img/background-footer.png);
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    border-top: 1px solid #e4e4e4;
    padding: 0.5rem;
    line-height: 15px;
    color: white;
}
footer .footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-list li{
    list-style: none;
}
footer .footer-list li a{
    width: 25px;
    margin: 10px;
    text-decoration: none;
    list-style: none;
}
footer a{
    text-decoration: none;
    list-style: none;
    color: #244357;
}
footer .social-container a img{
    margin: 10px 10px;
    width: 30px;
}
footer .social-container a img:hover {
    transform:scale(1.1);
    cursor: pointer;
}


.newProduct-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: solid 2px black;
    border-radius: 15px;
    padding: 20px;
    background-color:#eff0ef;
    font-size: var(--sm);
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 4px 15px 5px #000;
}
.newProduct-form h1{
    font-size: 28px;
    margin-bottom: 5px;
    color:#000;
}
.newProduct-form input{
    padding: 5px;
    border-radius: 3px;
    width: 90%;
}
.newProduct-form label{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
    width: 90%;
    color:#000;
}
.newProduct-button{
    background-color: var(--blue--contrast);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 46px;
    margin-top: 5px;
}
.newProduct-button:hover{
    background-color: #394A51;
}

.main-home{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.main-home .main-home-section1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    line-height: 2.8rem;
    z-index: 1;
    align-items: center;
}
.main-home .main-home-section2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    line-height: 2.8rem;
    z-index: 1;
    align-items: center;
}
.main-home-section1 h1{
    font-size: 5.6rem;
    color: rgb(186, 0, 0);
    font-weight: bold;
    line-height: 54px;
    animation: aparecerDesdeArriba 1s ease-in-out;
}

@keyframes aparecerDesdeArriba {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes aparecerDesdeAbajo {
    from {
      transform: translateY(+100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.main-home-section1 h1 span {
    color: black;
}
.main-home-section1 h2 {
    font-size: 24px;
    margin: 15px;
    color: rgb(0, 0, 0);
    animation: aparecerDesdeAbajo 1s ease-in-out;
}
.main-home-section1 div{
    margin-left: 60px; 
}
.main-home-section1 img{
    height: 70vh;
    animation: aparecerDesdeDerecha 1.5s ease-in-out;
}
@keyframes aparecerDesdeDerecha {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
.homeButton{
    background-color: #00BF63;
    height: 56px;
    width: 240px;
    border-radius: 36px;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
    font-size: 22px;
    cursor:pointer;
    text-decoration: none;
    animation: aparecerDesdeAbajo 1s ease-in-out;
}

.homeButton:hover{
    background-color: white;
    border:solid 1px rgb(123, 5, 5);
    color: rgb(123, 5, 5);
    box-shadow: 4px 4px 10px black;
}

/*@media (max-width: 640px){

    .form{
        height: 100%;
        justify-content: space-between;
    }
    
}*/
