<footer>
  <nav>
    <a href="#">Acerca de nosotros</a>
    <a href="#">Servicios</a>
    <a href="#">Contacto</a>
  </nav>
  <p>&copy; 2024 Nombre de la empresa. Todos los derechos reservados.</p>
  <a href="mailto:contacto@empresa.com">Contáctenos</a>
  <ul>
    <li><a href="#">Términos de servicio</a></li>
    <li><a href="#">Política de privacidad</a></li>
  </ul>
</footer>