<footer>
  <ul class="footer-list">
    <li><a href="#">Términos de servicio</a></li>
    <li><a href="#">Política de privacidad</a></li>
  </ul>
  <a href="mailto:contacto@empresa.com">Contáctenos</a>
  <div class="social-container">
    <a href="https://api.whatsapp.com/send?phone=584149541095&text=Hola!%20Me%20gustaría%20hablar%20contigo%20sobre%20tu%20producto" target="_blank"><img src="../../assets/icons/whatsapp_icon.svg" /></a>
    <a href="http://instagram.com" target="_blank"><img src="../../assets/icons/instagram_icon.svg"/></a>
    <a href="http://facebook.com" target="_blank"><img src="../../assets/icons/facebook-icons.svg" /></a>
  </div>
  <p>&copy; 2024 Imagen Corporativa U.I.C. Todos los derechos reservados.</p>
</footer>  
  