<footer>
  <ul class="footer-list">
    <li><a href="#">Términos de servicio</a></li>
    <li><a href="#">Política de privacidad</a></li>
  </ul>
  <a href="mailto:contacto@empresa.com">Contáctenos</a>
  <div class="social-container">
    <a><img src="../../assets/icons/whatsapp_icon.svg"></a>
    <a><img src="../..//assets/icons/instagram_icon.svg"></a>
    <a><img src="../..//assets/icons/facebook-icons.svg"></a>
  </div>
  <p>&copy; 2024 Imagen Corporativa U.I.C. Todos los derechos reservados.</p>
</footer>  
  