<nav>
  <button id="modo-toggle">Cambiar Modo</button>
  <a href='/'>Home</a>
  <a href='/users'>Usuarios</a>
  <a href='/Login'>Login</a>
  <a href='/products'>Products</a>
  <a href='/productsAdmin'>ProductsAdmin</a>
  <a href='/logout'>Salir</a>
</nav>