<header>
  <div>
      <img src="../../assets/img/IMAGEN CORPORATIVA.png">
  </div>
  <nav class=".nav-container">
    <a href="/">Home</a>
    <a href="/products">Productos</a>
    <a href="/cart">Carrito</a>
    <a href="/order">Ordenes</a>
    <a href="/orders">Orden U</a>
    <a href="/users">Users</a>
    <a href='/logout'>Salir</a>
  </nav>
</header>