<header>
  <nav class=".nav-container">
    <button id="modo-toggle">Cambiar Modo</button>
    <a href="/">Home</a>
    <a href="/products">Productos</a>
    <a href="/login">Login</a>
    <a href="/cart">Carrito</a>
    <a href="/order">Ordenes</a>
    <a href="/newProduct">ADMIN P</a>
    <a href="/productsAdmin">ADMIN C</a>
  <a href='/logout'>Salir</a>
  </nav>
</header>