<header>
  <nav class=".nav-container">
    <button id="modo-toggle">Cambiar Modo</button>
    <a href="/">Home</a>
    <a href="/products">Productos</a>
    <a href="/login">Login</a>
    <a href='/productsAdmin'>ProductsAdmin</a>
    <a href="/users">Usuarios</a>
  <a href='/logout'>Salir</a>
  </nav>
</header>